.ui-form-group {
    padding: 2px 0;
}

.ui-label {
  font-weight: bold;
  font-size: 1em;
}

.ui-input {
  height: 100%;
  min-height: 2em;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: 2px solid $primary-border-color;
  color:  $base-txt-color;
}

.ui-input-number,
.ui-input-text,
.ui-input-date,
.ui-input-color {
  display: inline-block;
  width: 100%;
  border: 2px solid $primary-border-color;
  background: $active-bg-color;
  color: $base-txt-color;
}

.ui-radio-button,
.ui-checkbox {
  display: block;
}

.ui-radio-group {
  display: inline-block;
}

.ui-radio-button,
.ui-checkbox {
  font: normal 17px/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  label {
    font: normal 17px/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.15s;
  }

  label:before {
    font: normal 17px/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    border: 1px solid $primary-border-color;
      transition: all 0.15s;
      content: "";
      display: inline-block;
      text-align: center;
      line-height: 15px;
      width: 16px;
      height: 16px;
      color: $active-txt-color;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: $active-bg-color;

  }

  input {
    display: none;
    transition: all 0.15s;
  }

}

.ui-radio-button {

  label:before {
    border-radius: 8px;
  }

  input:checked + label:before {
      content: "\2022";
      font-size: 30px;
      text-align: center;
      line-height: 15px;
      text-align: left;
  }

}

.ui-checkbox {

  label:before {
    border-radius: 3px;
  }

  input:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    font-weight: bolder;
  }

}

::-webkit-color-swatch-wrapper {
    padding: 5px;
}
::-webkit-color-swatch {
    border: 1px solid black;
    height: 100%;
    min-height: 15px;
}

.ui-input {
  width: 100%;
}

.ui-input-wrapper {
  display: inline-block;;
}

.ui-input,
.ui-input input,
.ui-radio-button,
.ui-radio-button input,
.ui-checkbox,
.ui-checkbox input {
  cursor: pointer;
}

.ui-input-date::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.ui-input-color-wrapper .btn {
  display:none;
}
