.ui-label {
  font-weight: bold;
  font-size: 1em;
}

.ui-input {
  height: 100%;
  min-height: 2em;
}

.ui-radio-button,
.ui-checkbox {
  display: block;
  font-weight: bold;
}

.ui-radio-group {
  display: inline-block;;
}

::-webkit-color-swatch-wrapper {
    padding: 5px;
}
::-webkit-color-swatch {
    border: 1px solid black;
    height: 100%;
    min-height: 15px;
}
