
.ui-menu {
  background: $primary-bg-color;
}

.ui-menu ul {
  list-style:none;
  text-decoration:none;
  margin:0;
  padding:0;
  background: $primary-bg-color;
}

.ui-menu:before,
.ui-menu:after {
  @include clearfix();
}

.ui-menu ul li {
float:left;
display: inline-block;
border-top: 4px solid $primary-bg-color;
}
.ui-menu ul li ul li {
  display:block;
  float: none;
}

.ui-menu li a {
color: $base-txt-color;
display:block;
padding:10px 12px;
text-decoration: none;
}

.ui-menu li:hover {
  border-top: 4px solid $primary-border-color;
  background:$hover-bg-color;
}

.ui-menu li ul li:hover {
  border-top: 4px solid $hover-bg-color;
}

.ui-menu li a:hover {
  color: $hover-txt-color;
  text-decoration: none;
}

.ui-menu li ul {
display:none;
position:absolute;
min-width:140px;
}

.ui-menu li:hover > ul {
display:block;
}

.ui-menu li ul li {
position:relative;
}

.ui-menu li ul li ul {
right:-140px;
top:0;
}
