
.ui-menu {
  background: $primary-bg-color;
  //border: 2px solid $primary-border-color;
  transition:all linear 0.15s;
  @include shadow-element();
}

.ui-menu ul {
  list-style:none;
  text-decoration:none;
  margin:0;
  padding:0;
  background: $primary-bg-color;
}

.ui-menu:before,
.ui-menu:after {
  @include clearfix();
}

.ui-menu .separator,
.ui-menu .separator a,
.ui-menu .separator:hover {
  min-width: 4px;
  max-width: 4px;
  min-height: 22px;
  overflow: hidden;
  background: $primary-border-color;
  border: 0px solid;
}

.ui-menu ul li ul .separator,
.ui-menu ul li ul .separator a,
.ui-menu ul li ul .separator:hover {
  min-height: 4px;
  max-height: 4px;
  min-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: $primary-border-color;
  border: 0px solid;
  margin: 0;
  padding: 0;
}

.ui-menu ul li {
float:left;
display: inline-block;
transition:all linear 0.15s;
}

.ui-menu ul li ul li {
  display:block;
  float: none;
}

.ui-menu li ul {
  @include shadow-element();
}

.ui-menu li a {
color: $base-txt-color;
display:block;
padding:10px 12px;
text-decoration: none;
}

.ui-menu li:hover,
.ui-menu li:hover > a,
.ui-menu ul li:hover > a,
.ui-menu li:hover ul li:hover > a {
  color: $hover-txt-color;
  background: $hover-bg-color;
}

.ui-menu li:hover ul li a {
  color: $base-txt-color;
}

.ui-menu li:hover ul li a:hover {
  background: $hover-bg-color;
  color: $hover-txt-color;
}


.ui-menu li ul li:hover {
}

.ui-menu li a:hover,
.ui-menu ul li:hover > a {
  color: $hover-txt-color;
  text-decoration: none;
}

.ui-menu li ul {
display:none;
position:absolute;
min-width:140px;
//border: 2px solid $primary-border-color;
}

.ui-menu li:hover > ul {
display:block;
}

.ui-menu li ul li {
position:relative;
}

.ui-menu li ul li ul {
right:-140px;
top:0;
}

.ui-menu li:hover a > .ui-arrow-up,
.ui-menu li:hover ul li:hover a > .ui-arrow-up {
  border-bottom-color: $hover-txt-color;
}

.ui-menu li:hover ul li a > .ui-arrow-up {
  border-bottom-color: $base-txt-color;
}

.ui-menu li:hover a > .ui-arrow-down,
.ui-menu li:hover ul li:hover a > .ui-arrow-down {
  border-top-color: $hover-txt-color;
}

.ui-menu li:hover ul li a > .ui-arrow-down {
  border-top-color: $base-txt-color;
}

.ui-menu li:hover a > .ui-arrow-left,
.ui-menu li:hover ul li:hover a > .ui-arrow-left {
  border-right-color: $hover-txt-color;
}

.ui-menu li:hover ul li a > .ui-arrow-left {
  border-right-color: $base-txt-color;
}

.ui-menu li:hover a > .ui-arrow-right,
.ui-menu li:hover ul li:hover a > .ui-arrow-right {
  border-left-color: $hover-txt-color;
}

.ui-menu li:hover ul li a > .ui-arrow-right {
  border-left-color: $base-txt-color;
}
