
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  background: #002d59;
  border: 0px solid #080808;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #053e7c;
}
::-webkit-scrollbar-thumb:active {
  background: #0032a8;
}
::-webkit-scrollbar-track {
  background: $primary-bg-color;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: $hover-bg-color;
}
::-webkit-scrollbar-track:active {
  background: $active-bg-color;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
