
.ui-select select {
  padding:3px;
  margin: 0;
  min-height: 2em;
  //border: 2px solid $primary-border-color;
  border: 0px solid;
  background: $active-bg-color;
  color: $base-txt-color;
  outline:none;
  display: table-cell;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  box-sizing: border-box;

      width: 100%;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .ui-select select { padding-right: 26px; }
}

.ui-select {

  display: inline-table;
  position: relative;
  padding-right: 0;
  box-sizing: border-box;
  [class*="fa-"] {
    padding-right: 5px;
  }

  .right {
    padding-left: 10px;
  }

  [class*="fa-"],
  .right {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
  }


}

.ui-select:after {
  content: '>';
  font: 16px "Consolas", monospace;
  font-weight: bold;
  color: $base-txt-color;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 5px;
  top: 0px;
  padding: 0 4px 5px;
  position: absolute;
  pointer-events: none;
  //border-bottom: 2px solid $primary-border-color;
}
