.ui-split-pane {
  display: table;
}

.ui-h-resize-panel {
  overflow: auto;
  display: table-cell;
}

.ui-h-resize-panel:first-child {
  resize: horizontal;
  border-right: 2px solid $primary-border-color;
}

.ui-h-resize-panel:last-child {
  border-left: 2px solid $primary-border-color;
}

.ui-v-resize-panel {
  overflow: auto;
  display: block;
}

.ui-v-resize-panel:first-child {
  resize: vertical;
  border-bottom: 2px solid $primary-border-color;
}

.ui-v-resize-panel:last-child {
  border-top: 2px solid $primary-border-color;
}
